@charset"urf-8"

body {background-color:#4e9400;}
    
body {width:100%;height:720px; background-image:url("../fondo.jpg");font-family: 'Erix';}

@font-face {
  font-family: 'Erix';
  font-style: normal;
  font-weight: normal;
  src: url('./erix_outline.ttf');
}
#back
    {
    position: absolute;
    top: 88%;
    left: 52%;
    color:white;
	font-family: 'Erix', serif;
	font-size: 200%;
	font-style: normal;
	border-radius:0.3em;
	border:0.1em solid white;
	background-color: "#87CEFA";
	cursor:pointer;
	padding: 0.5em;
	margin: 0 auto;
	margin-right: 60px;
	width: 240px;
	height: 80px;
	/*float: left;*/
    }
#back:hover
    {
    	background-color: #DAA520;
    }

#play
    {
    position: absolute;
    top: 88%;
    left: 30%;
    color:white;
	font-family: 'Erix', serif;
	font-size: 200%;
	font-style: normal;
	border-radius:0.3em;
	border:0.1em solid white;
	background-color: "#87CEFA";
	cursor:pointer;
	padding: 0.5em;
	margin: 0 auto;
	margin-right: 60px;
	width: 240px;
	height: 80px;
	/*float: left;*/
    }
#play:hover
    {
    	background-color: #DAA520;
    }


#videoLR
{position: absolute;
top: 6%;
left: 19%%;

}