/*Left-Right*/
/*Aqui cambiamos los tipos de fuente de las letras del juego*/
@font-face {
  font-family: 'Erix';
  font-style: normal;
  font-weight: normal;
  src: url('./erix_outline.ttf');
}

/*Aqui cambiamos el color de fondo de la pantalla inicial*/
body {
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
	cursor:default;
}

a {
	color:#0078ff;
}

.hud {
	position:absolute;
	z-index:999;
	color:white;
	font-family: 'Erix', serif;
	font-size: 100%;
	font-style: normal;
}

#but {
	position:absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	top:50%;
	left:0;
}
/*Estilo de los botones*/
.but {
	color:white;
	font-family: 'Erix', serif;
	font-size: 100%;
	font-style: normal;
	border-radius:0.3em;
	border:0.1em solid white;
	background-color: rgba(99,99,99,0.65);
	cursor:pointer;
	padding: 0.5em;
	margin: 0 auto;
	width: 8em;
	/* Estilo inicial del boton Iniciar */
	display: none;
}
/*Color el boton cuando el mouse pasa por encima*/
/*Boton Inicio*/
.but:hover {
	background-color: #DAA520;
}
/*Posicion de los puntos en la pantalla de juego*/
#score {
	top:65%;
	left:10pxs;
}
/*Posicion de los puntos en la pantalla de juego*/
#lives {
	//position: relative;
	top:30%;
	right:10px;
	font-size:200%;
	color: #ffffff;
	white-space: pre;
}
/*Posicion del mayor puntaje en la pantalla de inicio*/
/*Muesta el mayor puntaje de la partida anterior*/
#hiscore {
	position:absolute;
	z-index:999;
	top:35%;
	right:60px;
	width:100%;
	margin:0;
	text-align:right;
	font-size:90%;
	line-height:100%;
}			
/*Posicion de la informacion que sale en la parte inferior*/
#info {
	position:absolute;
	z-index:999;
	bottom:75px;
	top: 0px;
	right:0.5%;
	width:20em;
	margin-left:-10em;
	text-align:right;
	font-size:65%;
	line-height: 2;
}

small {
	font-size:70%;
}
/*Posicion y atributos del titulo en la pantalla de inicio*/
#title {
	position:absolute;
	z-index:999;
	top:0%;
	left:20px;
	width:100%;
	text-align:center;
	font-size: 200%;
}

#subtitle {
	font-family: 'Erix', serif;
	position:absolute;
	z-index:999;
	top:13%;
	left:20px;
	width:100%;
	text-align:center;
	font-size: 100%;
	color:#ffffff;
}
/*Posicion y atributos de los creditos de la pantalla de inicio*/
/*Parte inferior*/
#credit {
	font-family: 'Erix', serif;
	position:absolute;
	bottom:1em;
	width: 80%;
	text-align:center;
	font-size:30%;
	color:#aaa;
}
/*Posicion y atributos del infdicador distancia y niveles*/
#puntos {
	font-family: 'Erix', serif;
	position:absolute;
	bottom:1em;
	top: 55%;
	left: 10px;
	width: 80%;
	text-align:left;
	tex
	font-size:100%;
	color:#ffffff;
}
/*Posicion y atributos del infdicador distancia y niveles*/
#nivel {
	font-family: 'Erix', serif;
	position:absolute;
	bottom:1em;
	top: 0%;
	left: 10px;
	width: 80%;
	text-align:left;
	font-size:100%;
	color:#ffffff;
}
#niveles {
	font-family: 'Erix', serif;
	position:absolute;
	bottom:1em;
	top: 7%;
	left: 20px;
	width: 80%;
	text-align:left;
	font-size:100%;
	color:#ffffff;
}

#subirnivel{
	position:absolute;
	top: 12%;
	left: 11%;
	width: 100%;
}

#finaljuego{
	position:absolute;
	top: 14%;
	left: 11%;
	width: 100%;
}

/*Color de los creditos (de algunas letras)*/
#credit a { color: #000000; }
/*Posicion de la camara en general 
(sin recuadro que lo siga)*/
video {
	position:absolute;
	top: 50px;
	right: 20px;
	z-index:1000;
	display:block;
	width: 200px; height: 150px;
	-o-transform : scaleX(-1);
	-moz-transform : scaleX(-1);
	-webkit-transform : scaleX(-1);
	-ms-transform: scaleX(-1);
	transform : scaleX(-1);
}
/*Coloca la transparencia gris sobre una imagen
(sobre la camara)*/
.grayout .but {
  filter:alpha(opacity=40); /* IE */
  opacity: 0.4; /* Safari, Opera */
  -moz-opacity:0.40; /* FireFox */
  cursor: default;
}